@{
    ViewBag.Title = "Home Page";
    Layout = null;

}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/index.css" />
    <style type="text/css" media="screen">
        body {
            behavior: url(~/Content/css/PIE.htc);
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="left">
                <h1>最新资讯：</h1>
             
                <div id="scroll-left">
                    <span id="left-div">默认消息</span>
                </div>
            </div>
            <span class="right"><i id="date"></i> <b id="time"></b></span>
        </div>
        <div class="part-1">
            <div class="left">
            <h4>产量统计 </h4> 
               
                <div class="wrap-table">
                    <div class="table-left">
                        <div id="LeftCanvas" style="min-width: 290px; height: 140px; "></div>
                    </div>
                   
                    <div class="table-right">
                        <div id="RightCanvas" style="min-width: 290px; height: 140px; "></div>
                    </div>
                    <div class="table-right">
                        <div id="FootCanvas" style="min-width: 290px; height: 120px; "></div>
                    </div>
                    <div class="table-left">
                        <div id="LFootCanvas" style="min-width: 290px; height: 120px; "></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <h2>警报次数</h2>
                <div class="top">
                    <div class="hours">
                        <p>最近小时</p>
                        <div class="t_num">
                            <i></i>
                            <i></i>
                            <i class="last"></i>
                        </div>
                    </div>
                    <div class="total">
                        <p>当日累计</p>
                        <div class="t_num">
                            <i></i>
                            <i></i>
                            <i class="last"></i>
                        </div>
                    </div>
                </div>
                <div class="btm">
                    <div class="mass">
                        <p>质量异常</p>
                        <div class="t_num">
                            <i></i>
                            <i></i>
                            <i class="last"></i>
                        </div>
                    </div>
                    <div class="material">
                        <p>物料异常</p>
                        <div class="t_num">
                            <i></i>
                            <i></i>
                            <i class="last"></i>
                        </div>
                    </div>
                    <div class="beat">
                        <p>节拍异常</p>
                        <div class="t_num">
                            <i></i>
                            <i></i>
                            <i class="last"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="part-2">
            <div class="left">
                <ul class="top deviceU">
                    <li id="U1" class="status-1">
                        <p style="display: inline">
                          <span>U1</span>  
                            <span style="margin: 0 auto; float: right; width: 60px; height: 20px; ">
                                <span id="U13" class="box-1">
                                    0
                                </span>
                                <span id="U12" class="box-2">0</span>
                                <span id="U11" class="box-3">0</span>
                             
                            </span>
                        </p>
                            
                             
                         <div>
                            <span class="down"></span>
                        </div>
                    </li>
                    <li id="U3" class="status-1">
                        <p style="display: inline">
                            <span>U3</span>
                            <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
                                <a id="U33" class="box-1">0</a>
                                <a id="U32" class="box-2">0</a>
                                <a id="U31" class="box-3">0</a>
                            </span>
                            </p>
                            <div>
                                <span class="down"></span>
                            </div>
</li>
                    <li id="U5" class="status-1">
                        <p style="display: inline">
                            <span>U5</span>
                            <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
                                <a id="U53" class="box-1">0</a>
                                <a id="U52" class="box-2">0</a>
                                <a id="U51" class="box-3">0</a>
                            </span>
                            </p>
                            <div>
                                <span class="down"></span>
                            </div>
</li>
                    <li id="U7" class="status-1">
                        <p style="display: inline">
                            <span>U7</span>
                            <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
                                <a id="U73" class="box-1">0</a>
                                <a id="U72" class="box-2">0</a>
                                <a id="U71" class="box-3">0</a>
                            </span>
                            </p>
                            <div>
                                <span class="down"></span>
                            </div>
</li>
                    <li id="U8" class="status-1">
                        <p style="display: inline">
                            <span>U8</span>
                            <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
                                <a id="U83" class="box-1">0</a>
                                <a id="U82" class="box-2">0</a>
                                <a id="U81" class="box-3">0</a>
                            </span>
                            </p>
                            <div>
                                <span class="down"></span>
                            </div>
</li>
                    @*<li id="U8" class="status-1">
                            <div>
                                <span class="down"></span>
                            </div>
                            <p>U8</p>
                        </li>*@
                </ul>
                <div class="center deviceZ">
                    <div id="wrap-img">
                        <span id="scroll-right"><i></i></span>
                    </div>
                    <div id="z1" class="status-1">
                    <p style="display: inline">
    <span>Z1</span>
    <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
        <a id="Z13" class="box-1">0</a>
        <a id="Z12" class="box-2">0</a>
        <a id="Z11" class="box-3">0</a>
    </span>
</p>
                    </div>
                    <div id="z2" class="status-2">
                        <p style="display: inline">
                            <span>Z2</span>
                            <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
                                <a id="Z23" class="box-1">0</a>
                                <a id="Z22" class="box-2">0</a>
                                <a id="Z21" class="box-3">0</a>
                            </span>
                        </p>
                    </div>
                    <div id="z3" class="status-3"><p style="display: inline">
    <span>Z3</span>
    <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
        <a id="Z33" class="box-1">0</a>
        <a id="Z32" class="box-2">0</a>
        <a id="Z31" class="box-3">0</a>
    </span>
</p>
                    </div>
                </div>
                <ul class="btm deviceU">
                    <li id="U2" class="status-1">
                        <div>
                            <span class="up"></span>
                        </div>
                        <p style="display: inline">
                            <span>U2</span>
                            <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
                                <a id="U23" class="box-1">0</a>
                                <a id="U22" class="box-2">0</a>
                                <a id="U21" class="box-3">0</a>
                            </span>
                            </p>
</li>
                    <li id="U4" class="status-1">
                        <div>
                            <span class="up"></span>
                        </div>
                        <p style="display: inline">
                            <span>U4</span>
                            <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
                                <a id="U43" class="box-1">0</a>
                                <a id="U42" class="box-2">0</a>
                                <a id="U41" class="box-3">0</a>
                            </span>
                            </p>
</li>
                    <li id="U6" class="status-1">
                        <div>
                            <span class="up"></span>
                        </div>
                        <p style="display: inline">
                            <span>U6</span>
                            <span style="margin: 0 auto; float: right; width: 60px; height: 30px; ">
                                <a id="U63" class="box-1">0</a>
                                <a id="U62" class="box-2">0</a>
                                <a id="U61" class="box-3">0</a>
                            </span>
                            </p>
</li>

                </ul>
            </div>
            <div class="right">
                <h2>
                    型号: 
                </h2>
                <p><span class="data" id="data-num"></span></p>
                <p><span class="icon icon-gray">1</span>灰色未排</p>
                <p><span class="icon icon-orange">2</span>橙色长亮，缺物料</p>
                <p><span class="icon icon-green">3</span>绿色长亮，正常生产</p>
                <p><span class="icon icon-red">4</span>红色闪烁，节拍异常</p>
                <p><span class="icon icon-orange">5</span>橙色闪烁，质量异常</p>
                <p><span class="icon icon-green">6</span>绿色闪烁，超出节拍生产</p>
            </div>
        </div>
    </div>
    <script src="~/Scripts/js/jquery-191.min.js"></script>
    @*<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/js/animateBackground-plugin.js"></script>
    <script type="text/javascript" src="~/Scripts/js/index.js"></script>
    @*<script src="~/Scripts/js/Chart.bundle.min.js"></script>*@
    <script src="~/Scripts/highcharts/js/highcharts.src.js"></script>
    @*<script src="~/bower_components/Chart.js/dist/Chart.min.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/js/chart.min.js"></script>*@
    <script type="text/javascript">
        ajaxUrl = "@Url.Action("GetData","Home",new { id = ViewBag.GroupName })";
    </script>
</body>
</html>